<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Sign In</h1>
        <form (submit)="onSubmitAddUser()">
          <div class="form-group">
            <label class="col-form-label" for="email">Email</label>
            <input type="email" name="email"  id="email" [(ngModel)]="email" class="form-control" placeholder="Ingrese su Email" >
          </div>
          <div class="form-group">
            <label class="col-form-label" for="password">Contraseña</label>
            <input type="password"  name="password"  id="password" [(ngModel)]="pass" class="form-control" placeholder="Ingrese su contraseña" >
          </div>
          <input type="submit" value="Registrarse" class="btn btn-primary btn-block btn-lg">
        </form>
      </div>
    </div>
  </div>
</div>
